* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f1f1f1;
  }
  .bird {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 20%;
        
}
.main {
  width:auto;
  height: auto;
  
  position: relative;
}

.startbox {
width: 20%;

  position: absolute;
  /* parent width - box width */
}
.box {
  width: 20%;

  position: absolute;
  /* parent width - box width */
}
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
    
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  #myProgress {
    width: 100%;
    background-color: grey;
    border-radius: 20px;
  }
  
  #myBar {
    width: 0%;
    height: 20px;
    background-color: green;
    border-radius: 20px;
  }
  .bolded { font-weight: bold; }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
    
  }
  
  /* Right column */
  .rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
      position: absolute;
      right: 20px;
  }
    /* Footer */
    .footer {
      padding: 10px;
      text-align: center;
      background: #ddd;
      margin-top: 20px;
      border-radius: 50px;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    position: relative;
      
    }
  /* Gray Card */
  .grayCard {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  img {
    width: 100%;
    padding: 20px;
    object-fit: contain;
    

}
  .column {
    float: left;
    
  }
  
  .left {
    width: 25%;
 
  }
  
  .right {
    width: 75%;
    float: right;
   
    
  }
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    
  }
    .collapsecard {
    background-color: white;
    padding: 20px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
  
